# Importando a Base

In [11]:
import pandas as pd

tabela = pd.read_csv('exportacao_Afghanistan.csv')

display(tabela)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2014,1,Afghanistan,Cubatão - SP,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),30606,21458
1,2014,1,Afghanistan,Itajaí - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),226279,155697
2,2014,1,Afghanistan,Montenegro - RS,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),243053,183724
3,2014,1,Afghanistan,Paranaguá - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),338113,232985
4,2014,1,Afghanistan,Rio Grande - RS,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),196860,132996
...,...,...,...,...,...,...,...,...,...,...,...
725,2020,12,Afghanistan,Pompéia - SP,7318,"Screws, bolts, nuts, coach screws, screw hooks...",73,Articles of iron or steel,Asia (minus MIDDLE EAST),72,3
726,2020,12,Afghanistan,Pompéia - SP,7326,Other articles of iron or steel,73,Articles of iron or steel,Asia (minus MIDDLE EAST),20,0
727,2020,12,Afghanistan,Pompéia - SP,8421,"Centrifuges, including centrifugal dryers; fil...",84,"Nuclear reactors, boilers, machinery and mecha...",Asia (minus MIDDLE EAST),37,0
728,2020,12,Afghanistan,Pompéia - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",Asia (minus MIDDLE EAST),53052,7364
729,2020,12,Afghanistan,Pompéia - SP,8481,"Taps, cocks, valves and similar appliances for...",84,"Nuclear reactors, boilers, machinery and mecha...",Asia (minus MIDDLE EAST),551,23

# Informações Gerais

In [14]:
tabela.info
display(tabela.describe())

,Year,Month,SH4 Code,SH2 Code,US$ FOB,Net Weight
count,730.000000,730.000000,730.000000,730.000000,7.300000e+02,7.300000e+02
mean,2017.352055,6.728767,2022.982192,20.139726,1.690023e+05,2.104314e+05
std,2.040913,3.301971,2665.584205,26.583041,3.356255e+05,8.457382e+05
min,2014.000000,1.000000,202.000000,2.000000,1.000000e+00,0.000000e+00
25%,2016.000000,4.000000,207.000000,2.000000,1.038900e+04,3.655000e+03
50%,2018.000000,6.000000,504.000000,5.000000,4.233700e+04,2.618350e+04
75%,2019.000000,10.000000,2516.000000,25.000000,1.582802e+05,1.166645e+05
max,2020.000000,12.000000,9617.000000,96.000000,3.143211e+06,1.285000e+07

# Como foi a evolução das exportações para a Afgnistão ao longo dos anos?

In [27]:
tabela_ano = tabela.groupby('Year').sum()
tabela_ano = tabela_ano[['US$ FOB']]
def formartar(valor):
    return f"${valor:,.2f}"

tabela_ano["US$ FOB"] = tabela_ano["US$ FOB"].map(formatar)
display(tabela_ano)

             US$ FOB
Year
2014  $11,721,368.00
2015   $6,706,901.00
2016   $8,782,814.00
2017   $9,276,428.00
2018  $16,994,642.00
2019  $32,459,656.00
2020  $37,429,851.00

# Quais os produtos mais exportados ao longo de todo o período?

In [40]:
tabela_produto = tabela.groupby(by=['SH4 Description','SH2 Description']).sum()
tabela_produto = tabela_produto[['US$ FOB']]
tabela_produto = tabela_produto.sort_values('US$ FOB',ascending = False)

tabela_produto["US$ FOB"] = tabela_produto["US$ FOB"].map(formatar)
display(tabela_produto)

                                                                                                              US$ FOB
SH4 Description                                    SH2 Description
Meat and edible offal, of the poultry of headin... Meat and edible meat offal                          $91,700,240.00
Cane or beet sugar and chemically pure sucrose,... Sugars and sugar confectionery                      $16,325,062.00
Extracts, essences and concentrates, of coffee,... Miscellaneous edible preparations                    $4,045,557.00
Maize (corn)                                       Cereals                                              $2,378,201.00
Sausages of meat, meat offal, blood, their food... Preparations of meat, of fish or of crustaceans...   $2,215,134.00
...                                                                                                               ...
Automatic regulating or controlling instruments... Optical, photographic, cinematographic instrume...          $30.00
Electrical insulators of any material              Electrical machinery and equipment and parts th...          $11.00
Dried vegetables, whole, cut, sliced, broken or... Edible vegetables and certain roots and tubers              $10.00
Tubes, pipes and hollow profiles, seamless, of ... Articles of iron or steel                                    $5.00
Wire of iron or non-alloy steel                    Iron and steel                                               $2.00

[91 rows x 1 columns]

# Qual foi o ano que mais vendeu e a media?

In [50]:
tabela_ano1 = tabela.groupby(by=['Year','SH2 Description']).sum()
tabela_ano1 = tabela_ano1[['US$ FOB']]
tabela_ano1 = tabela_ano1.sort_values('US$ FOB',ascending = False)
tabela_ano1['US$ FOB'] = tabela_ano1['US$ FOB'].map(formatar)
display(tabela_ano1)

                                                                US$ FOB
Year SH2 Description
2019 Meat and edible meat offal                          $29,687,878.00
2020 Sugars and sugar confectionery                      $16,360,383.00
     Meat and edible meat offal                          $15,678,756.00
2018 Meat and edible meat offal                          $12,022,922.00
2014 Meat and edible meat offal                          $11,346,762.00
...                                                                 ...
     Electrical machinery and equipment and parts th...          $27.00
2015 Plastics and articles thereof                               $25.00
2020 Electrical machinery and equipment and parts th...          $11.00
2019 Edible vegetables and certain roots and tubers              $10.00
2014 Iron and steel                                               $2.00

[116 rows x 1 columns]